* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --bggreen: green;
}

body {
  max-width: 2340px;
  margin: auto;
}
div {
  display: flex;
}

.complaint img {
  width: 15px;
}
.fs-small {
  font-size: 12px;
}

.bgsalmon {
  background-color: salmon;
}
.bgaqua {
  background-color: aqua;
}
.text-red {
  color: red;
}
.text-green {
  color: var(--bggreen);
}
.bggreen {
    background-color: var(--bggreen);
  }
.bggray {
    background-color: var(--bggreen);
  }
.text-gray{
    color: gray;
}
.bgblue{
    background-color: #1D67BD;
}
.darkblue{
    background-color: darkblue;
}
.language{
    border: none!important;
    flex-direction: column!important;
}
.my_buttons button{
    border-radius: 5px!important;
}
.main-container{
    background-image: url(./images/banner_bg.png);
    min-height: 445px;
    width: 100%;
}
.main-container .backend{
    height: 100%;
    width: 500px;
    position: absolute;
    background-image: url(./images/anf_bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    width: cover;
}
/* 
.main-container .armlogo{
    height: 100%;
    width: 250px;
    position: absolute;
    background-image: url(./images/anf_logo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0%;
    right: 0px;
    width: cover;

} */
.main-container img.findajob{
    width: 400px;
}
.main-container input{
    width: 500px;
}
.main-container a img{
    width: 50px;
    border: 50%;
    
}

.main-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
} 